<html layout:decorate="~{main/layout}">
<div th:replace="/main/navbar"></div>
<div layout:fragment="content">
<div class="container">
    <div class="wrap">
        <div class="title">
            상품등록
        </div>
        <form th:action="@{/product/create}" th:object="${productCreateForm}" method="post" enctype="multipart/form-data">
<!--            <div class="category-section">-->
<!--                <div class="title">대분류 카테고리</div>-->
<!--                <select class="category" id="Category" th:field="*{category}" onchange="updateSubCategories()">-->
<!--                    <option value="none">선택해주세요</option>-->
<!--                    <option value="NOVEL">소설</option>-->
<!--                    <option value="SELFHELPBOOK">자기계발서</option>-->
<!--                </select>-->
<!--            </div>-->
            <div class="product-name">
                <div class="title">상품명</div>
                <input type="text" class="productName" id="productName" name="productName" th:field="*{productName}" placeholder="상품명을 입력해주세요">
            </div>
            <div class="product-price">
                <div class="title">상품 가격</div>
                <input type="number" name="price" id="price" class="price" th:field="*{price}" placeholder="상품가격을 입력해주세요.">
            </div>
            <div class="big-info">
                <div class="title">상품 설명</div>
                <textarea name="content" id="content" cols="30" rows="10" class="little" th:field="*{content}" placeholder="상세한 설명을 작성해주세요."></textarea>
            </div>
            <div class="file-upload">
                <div class="title">상품 사진등록</div>
                <input type="file" accept="image/**" id="imgPath" name="file">
            </div>
            <div class="button">
                <button type="submit">저장하기</button>
                <button type="submit">취소하기</button>
            </div>
        </form>
    </div>
</div>
</div>
</html>
