<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>내 주문 목록</title>
</head>
<body>
<h1>내 주문 목록</h1>
<div>
    <ul>
        <th:block th:each="order : ${orders}">
            <li>주문 ID: <span th:text="${order.id}"></span>, 결제 날짜: <span th:text="${order.payDate}"></span>, 총 결제 금액: <span th:text="${order.calculateTotalPrice()}"></span></li>
            <ul>
                <th:block th:each="item : ${order.orderItems}">
                    <li>상품 이름: <span th:text="${item.product.name}"></span>, 가격: <span th:text="${item.getPrice()}"></span></li>
                </th:block>
            </ul>
        </th:block>
    </ul>
</div>
</body>
</html>
