<html layout:decorate="~{main/layout}">
<div class="container">
    <nav th:fragment="navbarFragment">
        <div class="logo-section">
            <ul>
                <li><a th:href="@{/}">메인</a></li>
            </ul>
        </div>
        <div class="member-section">
            <ul>
                <li><a th:href="@{/review/detail}">리뷰 상세</a></li>
                <li><a th:href="@{/review/create}">리뷰 작성</a></li>
                <!--상품 작성은 관리자와 판매자만 가능하다-->
                <li th:unless="${#authorization.expression('hasRole(''USER'')')}"><a th:href="@{/product/create}" sec:authorize="isAuthenticated()"
                       >상품 작성</a></li>
                <!--<li><a th:href="@{/review/createForm}"></a></li>-->
            </ul>
        </div>
        <div class="login-section">
            <ul>
                <li class="nav-bar" th:if="${#authorization.expression('hasRole(''ADMIN'')')} or ${#authorization.expression('hasRole(''SELLER'')')}">
                    <a th:href="@{/seller/list}" sec:authorize="isAuthenticated()">
                    판매자 페이지</a></li>
                <li class="nav-bar" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a th:href="@{/admin/member}" sec:authorize="isAuthenticated()">
                    관리자 페이지</a></li>
                <li class="nav-bar" th:unless="${#strings.containsIgnoreCase(#authentication.name, 'KAKAO')}" sec:authorize="isAuthenticated()"><a th:href="@{/member/checkedPw}">마이페이지</a></li>
                <li class="nav-bar" th:if="${#strings.containsIgnoreCase(#authentication.name, 'KAKAO')}" sec:authorize="isAuthenticated()"><a th:href="@{/member/myInfo}">마이페이지</a></li>
                <li class="nav-bar" sec:authorize="isAuthenticated()"><a th:href="@{/member/logout}">로그아웃</a></li>
                <li class="nav-bar" sec:authorize="isAnonymous()"><a th:href="@{/member/signup}">회원가입</a></li>
                <li class="nav-bar" sec:authorize="isAnonymous()"><a th:href="@{/member/login}">로그인</a></li>
            </ul>
        </div>

    </nav>
</div>
</html>