<html layout:decorate="~{main/layout}">
<div th:replace="/main/navbar"></div>
<div layout:fragment="content">
    <div>
        <h2>좋아요 리스트</h2>
    </div>
    <div>
        <div th:each="favorite : ${favoriteList}">
            <ul>
                <li th:text="${favorite.product.productName}"></li>
                <form th:action="@{|/favorite/delete/${favorite.id}|}" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?')">
                    <button type="submit">삭제</button>
                </form>
            </ul>
        </div>
    </div>
</div>
</html>