<html layout:decorate="~{main/layout}">
<div th:replace="/main/navbar"></div>
<div layout:fragment="content">
<div style="text-align: center;">
    <div>
        <h2 style="margin-top: 30px; margin-bottom: 30px;">찜목록</h2>
    </div>
    <table class="table table-striped" style="max-width: 1500px; text-align: center; justify-content: center; margin-right: auto; margin-left: auto; margin-bottom: 30px;">
    <thead>
    <tr>
        <th>상품명</th>
        <th>상품가격</th>
        <th>상품설명</th>
        <th>판매상점</th>
        <th>좋아요 취소</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="favorite, loop : ${favoriteList}">
        <td th:text="${favorite.product.productName}"></td>
        <td th:text="${favorite.product.price}"></td>
        <td th:text="${favorite.product.content}"></td>
        <div>
            <td th:if="${favorite.product.author != null}" th:text="${favorite.product.author.getUsername()}"></td>
            <td th:if="${favorite.product.author == null}">판매자 없음</td>
        </div>
        <td>
            <form th:action="@{|/favorite/delete/${favorite.id}|}" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?')">
            <button type="submit" class="btn btn-secondary">삭제</button>
        </td>
    </tr>
    </tbody>
    </table>
</div>
</div>
</html>