<html layout:decorate="~{main/layout}">
<div th:replace="/main/navbar"></div>
<div layout:fragment="content">
    <!-- Nested Row within Card Body -->
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">비밀번호 확인</h1>
                        </div>
                        <form th:object="${memberCheckedPwForm}" method="post" th:action="@{/member/checkedPw}">
                            <div class="form-group row">
                                <div class=" mb-3 mb-sm-0">
                                    <label for="checkedPassword">패스워드 확인</label>
                                    <input class="form-control form-control-user" type="password" id="checkedPassword" name="checkedPassword" th:field="*{checkedPassword}">
                                </div>
                            </div>
                            <div>
                                <button type="submit"  class="btn btn-primary btn-user btn-block">패스워드 확인</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
