<html layout:decorate="~{main/layout}">
<div layout:fragment="content">
<div>
    <div>
        <h2>로그인</h2>
    </div>
    <form action="/member/login" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <button type="submit">로그인</button>
            <button type="button" onclick="location.href='/oauth2/authorization/kakao'">카카오 로그인</button>
        </div>
    </form>
</div>
</div>
</html>
