<html layout:decorate="~{main/layout}">
<div th:replace="/main/navbar"></div>
<div layout:fragment="content">
    <!-- Nested Row within Card Body -->
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">마이페이지</h1>
                        </div>
                        <form th:object="${memberCreateForm}" method="post" th:action="@{/member/updateMyInfo}">
                            <div class="form-group row">
                                <div class=" mb-3 mb-sm-0">
                                    <label for="username">사용자ID</label>
                                    <input class="form-control form-control-user" type="text" id="username" name="username" th:value="${memberCreateForm.username}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class=" mb-3 mb-sm-0">
                                    <label for="nickname">닉네임</label>
                                    <input class="form-control form-control-user" type="text" id="nickname" name="nickname" th:value="${memberCreateForm.nickname}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class=" mb-3 mb-sm-0">
                                    <label for="email">이메일</label>
                                    <input class="form-control form-control-user" type="text" id="email" name="email" th:value="${memberCreateForm.email}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class=" mb-3 mb-sm-0">
                                    <label for="address">주소</label>
                                    <input class="form-control form-control-user" type="text" id="address" name="address" th:value="${memberCreateForm.address}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class=" mb-3 mb-sm-0">
                                    <label for="phone">전화번호</label>
                                    <input class="form-control form-control-user" type="text" id="phone" name="phone" th:value="${memberCreateForm.phone}" disabled>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">정보 수정하기</button>
                                <a th:unless="${#strings.containsIgnoreCase(#authentication.name, 'KAKAO')}" href="/member/changePw" class="btn btn-primary">비밀번호 변경</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>