<div>
    <div>
        <h2>회원가입</h2>
    </div>
    <div>
        <form th:action="@{/member/signup}" th:object="${memberCreateForm}" method="post">
            <div>
                <label for="username" class="form-label">사용자ID</label>
                <input type="text" th:field="*{username}" id="username" autocomplete="off"/>
            </div>
            <div>
                <label for="password1" class="form-label">비밀번호</label>
                <input type="password" th:field="*{password1}">
            </div>
            <div>
                <label for="password2" class="form-label">비밀번호 확인</label>
                <input type="password" th:field="*{password2}">
            </div>
        </div>
            <ul class="main-menu-m">
                <li>
                    <a href="index.html">Home</a>
                    <ul class="sub-menu-m">
                        <li><a href="index.html">Homepage 1</a></li>
                        <li><a href="home-02.html">Homepage 2</a></li>
                        <li><a href="home-03.html">Homepage 3</a></li>
                    </ul>
                    <span class="arrow-main-menu-m">
						<i aria-hidden="true" class="fa fa-angle-right"></i>
					</span>
                </li>

                <li>
                    <a href="product.html">Shop</a>
                </li>

                <li>
                    <a class="label1 rs1" data-label1="hot" href="shoping-cart.html">Features</a>
                </li>

                <li>
                    <a href="blog.html">Blog</a>
                </li>

                <li>
                    <a href="about.html">About</a>
                </li>

                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>

        <!-- Modal Search -->
        <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
            <div class="container-search-header">
                <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                    <img alt="CLOSE" src="images/icons/icon-close2.png">
                </button>

                <form class="wrap-search-header flex-w p-l-15">
                    <button class="flex-c-m trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                    <input class="plh3" name="search" placeholder="Search..." type="text">
                </form>
            </div>
        </div>
    </header>
</nav>
<!-- Nested Row within Card Body -->
<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                    </div>
                    <form class="user" th:action="@{/member/signup}" th:object="${memberCreateForm}" method="post">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user" placeholder="ID" type="text" autocomplete="off" th:field="*{username}" id="username">
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control form-control-user" placeholder="NickName" autocomplete="off" type="text" th:field="*{nickname}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user" placeholder="Password" autocomplete="off" type="password" th:field="*{password1}">
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control form-control-user" placeholder="Repeat Password" autocomplete="off" type="password" th:field="*{password2}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user" placeholder="Email" autocomplete="off" type="email" th:field="*{email}">
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control form-control-user" placeholder="Phone Number" autocomplete="off" type="text" th:field="*{phone}">
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-user" placeholder="Address" autocomplete="off" type="text" th:field="*{address}">
                        </div>
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-primary">회원가입</button>
                        </div>
                        <hr>
                    </form>
                    <hr>
<!--                    <div class="text-center">-->
<!--                        <a class="small" href="forgot-password.html">Forgot Password?</a>-->
<!--                    </div>-->
                    <div class="text-center">
                        <a class="small" href="/member/login">Already have an account? Login!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>

</html>