<html layout:decorate="~{main/layout}">
<div th:replace="/main/navbar"></div>
<div layout:fragment="content">
<div style="text-align: center;">
    <div>
        <h2 style="margin-top: 30px; margin-bottom: 30px;">관리자페이지</h2>
    </div>
    <table class="table table-striped" style="max-width: 1500px; text-align: center; justify-content: center; margin-right: auto; margin-left: auto; margin-bottom: 30px;">
        <thead>
        <tr>
            <th style="width: 12.5%;">번호</th>
            <th style="width: 12.5%;">아이디</th>
            <th style="width: 12.5%;">닉네임</th>
            <th style="width: 12.5%;">가입일자</th>
            <th style="width: 12.5%;">수정일자</th>
            <th style="width: 10%;">유저등급</th>
            <th style="width: 15%;">권한변경</th>
            <th style="width: 12.5%;">탈퇴</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member, loop : ${paging}">
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td th:text="${member.username}"></td>
            <td th:text="${member.nickname}"></td>
            <td>
                <div th:text="${#temporals.format(member.createDate, 'yyyy-MM-dd')}"></div>
                <div th:text="${#temporals.format(member.createDate, 'HH:mm')}"></div>
            </td>
            <td>
                <div th:text="${#temporals.format(member.modifyDate, 'yyyy-MM-dd')}"></div>
                <div th:text="${#temporals.format(member.modifyDate, 'HH:mm')}"></div>
            </td>
            <td>
                <div th:if="${!member.isCheckedSeller() && !member.isCheckedAdmin() == true}">일반회원</div>
                <div th:if="${member.isCheckedSeller() == true}">판매자</div>
                <div th:if="${member.isCheckedAdmin() == true}">관리자</div>
            </td>
            <td>
                <span th:if="${member.checkedAdmin}">관리자</span>
                <span th:if="${member.checkedDeleted}">탈퇴한 사용자</span>
                <form th:if="${member.checkedSeller && !member.checkedDeleted && !member.isCheckedAdmin()}" th:action="@{/admin/common/{username}(username=${member.username})}" method="post"
                      onsubmit="return confirm('판매자 권한을 취소하겠습니까?');">
                    <input type="hidden" name="username" th:value="${member.username}"/>
                    <button type="submit" sec:authorize="isAuthenticated()" class="btn btn-secondary">판매자권한취소</button>
                </form>
                <form th:if="${!member.checkedSeller && !member.checkedDeleted && !member.isCheckedAdmin()}" th:action="@{/admin/seller/{username}(username=${member.username})}" method="post"
                      onsubmit="return confirm('판매자 등급으로 올리시겠습니까?');">
                    <input type="hidden" name="username" th:value="${member.username}"/>
                    <button type="submit" sec:authorize="isAuthenticated()" class="btn btn-secondary">판매자권한부여</button>
                </form>
            </td>
            <td>
                <span th:if="${member.checkedAdmin}">관리자</span>
                <span th:if="${member.checkedDeleted}">탈퇴한 사용자</span>
                <form th:if="${!member.checkedDeleted}" th:unless="${member.isCheckedAdmin()}" th:action="@{/admin/delete/{username}(username=${member.username})}" method="post"
                      onsubmit="return confirm('정말 탈퇴시키겠습니까?');">
                    <input type="hidden" name="username" th:value="${member.username}"/>
                    <button type="submit" sec:authorize="isAuthenticated()" class="btn btn-secondary">탈퇴</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</html>