<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <nav>
        <div class="logo-section">
            <ul>
                <li><a th:href="@{/main}">메인</a></li>
            </ul>
        </div>
        <div class="logo">
            <div>로고 로고 로고</div>
            <div>로고 로고 로고</div>
        </div>
        <div class="member-section">
            <ul>
                <li><a th:href="@{|/review/detail/${review.id}|}">리뷰 상세</a></li>
                <li><a th:href="@{/review/createForm}">리뷰 작성</a></li>
            </ul>
        </div>
        <div class="login-section">
            <ul>
                <li><a th:href="@{/admin/notice}" sec:authorize="isAuthenticated()"
                       th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    관리자 페이지</a></li>
                <li><a th:href="@{/mypage}" sec:authorize="isAuthenticated()">마이페이지</a></li>
                <li><a th:href="@{/member/logout}" sec:authorize="isAuthenticated()">로그아웃</a></li>
                <li><a th:href="@{/member/signup}" sec:authorize="isAnonymous()">회원가입</a></li>
                <li><a th:href="@{/member/login}" sec:authorize="isAnonymous()">로그인</a></li>
            </ul>

        </div>
    </nav>
</div>

</body>
</html>