<html layout:decorate="~{main/layout}">
<div th:replace="/main/navbar"></div>
<div layout:fragment="content">
<div style="text-align: center;">
    <div>
        <h2 style="margin-top: 30px; margin-bottom: 30px;">상품관리 페이지</h2>
    </div>
    <form th:action="@{/product/create}" style="margin: 20px;">
        <button type="submit" th:if="${#authorization.expression('hasRole(''ADMIN'')')} or ${#authorization.expression('hasRole(''SELLER'')')}"
                class="btn btn-secondary">상품등록</button>
    </form>
    <table class="table table-striped" style="max-width: 1500px; text-align: center; justify-content: center; margin-right: auto; margin-left: auto; margin-bottom: 30px;">
    <thead>
    <tr>
        <th style="width: 12.5%;">번호</th>
        <th style="width: 12.5%;">상품명</th>
        <th style="width: 12.5%;">상품가격</th>
        <th style="width: 12.5%;">상품설명</th>
        <th style="width: 12.5%;">생성자</th>
        <th style="width: 10%;">생성날짜</th>
        <th style="width: 15%;">수정날짜</th>
        <th style="width: 12.5%;">판매중지/철회</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product, loop : ${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.content}"></td>
        <td th:if="${product.author != null}" th:text="${product.author.getUsername()}"></td>
        <td th:unless="${product.author != null}">No Author</td>
        <td>
            <div th:text="${#temporals.format(product.createDate, 'yyyy-MM-dd')}"></div>
            <div th:text="${#temporals.format(product.createDate, 'HH:mm')}"></div>
        </td>
        <td>
            <div th:text="${#temporals.format(product.modifyDate, 'yyyy-MM-dd')}"></div>
            <div th:text="${#temporals.format(product.modifyDate, 'HH:mm')}"></div>
        </td>
        <td>
            <form th:if="${product.deleteDate == null}" th:action="@{/product/delete/{id}(id=${product.id})}" method="get"
                  onsubmit="return confirm('상품판매를 중지하겠습니까?');">
                <input type="hidden" name="username" th:value="${product.productName}"/>
                <button type="submit" sec:authorize="isAuthenticated()" class="btn btn-secondary">상품판매중지</button>
            </form>
            <form th:if="${product.deleteDate != null}" th:action="@{/product/add/{id}(id=${product.id})}" method="post"
                  onsubmit="return confirm('상품판매 중지 철회하겠습니까?');">
                <input type="hidden" name="username" th:value="${product.productName}"/>
                <button type="submit" sec:authorize="isAuthenticated()" class="btn btn-secondary">상품판매철회</button>
            </form>
            <div th:if="${product.getDeleteDate() != null}">판매중지상품</div>
        </td>
    </tr>
    </tbody>
</table>
</div>
</div>
</html>